<h1>All goods</h1>
<md-card *ngFor="let singleGoods of goods">
    <md-grid-list cols="5" rowHeight="4:1">
        <md-grid-tile [colspan]="2" [rowspan]="4">
            <div class="img">
                <img md-card-image src={{imagePath+singleGoods?.id+imageFormat}}
                     onerror="this.onerror=null;this.src = 'https://redsclubstore.shopdesq.com/assets/shopdesq/imagenotfoundthumb.jpg';">
            </div>
        </md-grid-tile>
        <md-grid-tile [colspan]="3" [rowspan]="1">
            <md-card-title><a [routerLink]='["/goods", singleGoods?.id]'>{{singleGoods?.title}}</a></md-card-title>
        </md-grid-tile>
        <md-grid-tile [colspan]="3" [rowspan]="2">
            <md-card-subtitle class="max-size">{{singleGoods?.description}}</md-card-subtitle>
        </md-grid-tile>
        <md-grid-tile [colspan]="3" [rowspan]="1">
            <md-card-content class="price-content">{{singleGoods?.price}}</md-card-content>
        </md-grid-tile>
    </md-grid-list>
</md-card>