md-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    color: #673ab7;
    text-align:center;
    margin: 1em 0 0.5em 0;
    font-weight: 100;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 58px;
    line-height: 54px;
    text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}

a {
    font-size: 24px;
    text-decoration: none;
    color: #673ab7;
}

.price-content{
    font-size: 18px;
    background: #00bd0d;
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0px 9px 0px 9px;
    color: #ffffff;
    margin-bottom: 8px;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

/deep/ .mat-figure {
        display: flex !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
}

.img img {
    width: 250px;
    border: none;
    margin: 0;
    padding: 0;
}

.max-size {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
